aside.logo{
    background-color: #FFFF;
    display: flex;
    justify-content: center;
    align-items: center;

}

aside.logo img{
    padding: 10px 5px;
    margin-left: 25%;
    width: 42%;
}

@media (max-width: 576px) {
    aside.logo img {
        width: 75px;
        margin: auto;
    }
}